bottleneck
factor_analyzer
flask
geopandas
lifelines
matplotlib
numexpr
numpy<2.0  # Important for compatibility with older pandas or specific lifelines versions
openpyxl
pandas
pyarrow
scikit-learn
scipy
seaborn
statsmodels
plotly